extends layout.pug

block content
  article.portfolio-intro
    h1 Welcome to my collection of projects  
    p This is a sample project collection, containing a number of my cool projects
  .thumbnail-box
          img.thumbnail(src='/static/assets/logo/cat-logo.gif', alt='cat logo',width="80", height="80")
  article.portfolio-project-thumbs
    .projects-box.box.grid
       each project in projects
        .cell
          a(href=`projects/${project.id}`,target="_blank")
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}