extends layout.pug

block content
  article.portfolio-intro
    h1 Welcome  
    p my profile tests for now 
  .thumbnail-box
          img.thumbnail(src='/static/assets/logo/cat-logo.gif', alt='cat logo',width="200", height="200")
  article.portfolio-project-thumbs
    .projects-box.box.grid
       each project in projects
        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}