extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
    .centerIt 
        h1 #{err.message} 
        h2 #{err.status} 
        pre #{err.stack}
    a(href='/')
        img(src='/static/assets/img/error-02.gif')
    nav.nav
      a(href='/')
        span &larr;
        |  Back 